<a href="https://colab.research.google.com/github/RadulDev/dataSciencePython/blob/main/Southern_Ocean_Continuous_Plankton_Recorder_Zooplankton_Records_2022_update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/antartica_plankton/AADC-00099_23June2022.csv')
df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (306,307,308,309) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Tow_Number,Ship_Code,Time,Date,Month,Year,Season,Latitude,Longitude,Segment_No.,...,Vanadis longissima,Vibilia antarctica,Vibilia armata,Vibilia sp.,Total abundance,Phytoplankton_Colour_Index,Fluorescence,Salinity,Water_Temperature,Photosynthetically_Active_Radiation
0,1.0,AA,10:20,12-Jan-1991,January,1991,1990-91,-63.2795,88.3835,1,...,0,0,0,0,0,-,15.18,33.91,3.38,-
1,1.0,AA,10:43,12-Jan-1991,January,1991,1990-91,-63.2829,88.2003,2,...,0,0,0,0,1,-,8.97,33.91,3.33,-
2,1.0,AA,11:06,12-Jan-1991,January,1991,1990-91,-63.2865,88.0155,3,...,0,0,0,0,0,-,7.81,33.90,3.40,-
3,1.0,AA,11:30,12-Jan-1991,January,1991,1990-91,-63.2886,87.8250,4,...,0,0,0,0,0,-,9.34,33.90,3.29,-
4,1.0,AA,11:53,12-Jan-1991,January,1991,1990-91,-63.2891,87.6385,5,...,0,0,0,0,0,-,7.49,33.80,3.04,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53514,1121.0,IN,08:46,22-Mar-2021,March,2021,2020-21,-47.4284,143.1742,6,...,0,0,0,0,42,1,2.41,34.52,12.32,13.59
53515,1121.0,IN,09:18,22-Mar-2021,March,2021,2020-21,-47.3609,143.2507,7,...,0,0,0,0,32,1,2.27,34.51,12.36,0.81
53516,1121.0,IN,09:49,22-Mar-2021,March,2021,2020-21,-47.2948,143.3254,8,...,0,0,0,0,30,1,2.24,34.54,12.4,0.50
53517,1121.0,IN,10:19,22-Mar-2021,March,2021,2020-21,-47.2290,143.3994,9,...,0,0,0,0,28,1,2.29,34.54,12.43,0.50
53518,1121.0,IN,10:51,22-Mar-2021,March,2021,2020-21,-47.1624,143.4741,10,...,0,0,0,0,28,1,2.28,34.5,12.27,0.50

In [4]:
df['Year'].unique()

array([1991, 1993, 1994, 1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014,
       2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [9]:
list(df.columns)

['Tow_Number',
 'Ship_Code',
 'Time',
 'Date',
 'Month',
 'Year',
 'Season',
 'Latitude',
 'Longitude',
 'Segment_No.',
 'Segment_Length',
 'Abylidae indet',
 'Acartia (Acartia) danae',
 'Acartia (Acartiura) tranteri',
 'Acartia (Odontacartia) pacifica',
 'Acartia sp.',
 'Aetideus australis',
 'Aetideus sp.',
 'Alciopidae indet',
 'Amphipoda indet',
 'Appendicularia indet',
 'Bivalvia larvae',
 'Brachyscelus crusculum',
 'Branchiopoda indet',
 'Bryozoa larvae',
 'Calanoida indet (small)',
 'Calanoides acutus',
 'Calanoides brevicornis',
 'Calanoides sp.',
 'Calanus australis',
 'Calanus propinquus',
 'Calanus simillimus',
 'Calanus sp.',
 'Calocalanus plumulosus',
 'Calocalanus sp.',
 'Calocalanus styliremis',
 'Candacia bipinnata',
 'Candacia cheirura',
 'Candacia falcifera',
 'Candacia maxima',
 'Candacia sp.',
 'Centropages aucklandicus',
 'Centropages bradyi',
 'Centropages furcatus',
 'Centropages sp.',
 'Chaetognatha indet',
 'Chelophyes sp.',
 'Cirripedia cyprid',
 'Cirripedia nauplius',
 'Clausocalanus arcuicornis',
 'Clausocalanus brevipes',
 'Clausocalanus ingens',
 'Clausocalanus laticeps',
 'Clausocalanus pergens',
 'Clausocalanus sp.',
 'Clio pyramidata',
 'Clio sp.',
 'Clione limacina antarctica',
 'Clione sp.',
 'Clytemnestra scutellata',
 'Clytemnestra sp.',
 'Cnidaria indet',
 'Copepoda indet',
 'Copepoda nauplius indet',
 'Crustacea nauplius indet',
 'Ctenocalanus citer',
 'Ctenocalanus sp.',
 'Ctenophora indet',
 'Cumacea indet',
 'Cyclopoida nauplius indet',
 'Cyllopus lucasii',
 'Cyllopus magellanicus',
 'Dairella californica',
 'Decapoda (natant) indet juv',
 'Decapoda megalopa indet',
 'Decapoda nauplius indet',
 'Decapoda phyllosoma indet',
 'Decapoda zoea indet',
 'Doliolidae indet',
 'Drepanopus sp.',
 'Echinoidea larvae',
 'Egg indet',
 'Egg mass',
 'Euaugaptilus sp.',
 'Eucalanus hyalinus',
 'Eucalanus sp.',
 'Euchirella rostrata',
 'Euchirella rostromagna',
 'Euchirella sp.',
 'Eukrohnia hamata',
 'Euphausia crystallorophias',
 'Euphausia crystallorophias calyptopis',
 'Euphausia crystallorophias furcilia',
 'Euphausia frigida',
 'Euphausia frigida calyptopis',
 'Euphausia frigida furcilia',
 'Euphausia hanseni furcilia',
 'Euphausia longirostris',
 'Euphausia longirostris calyptopis',
 'Euphausia longirostris furcilia',
 'Euphausia lucens',
 'Euphausia recurva',
 'Euphausia similis',
 'Euphausia similis furcilia',
 'Euphausia similis var armata',
 'Euphausia spinifera',
 'Euphausia spinifera calyptopis',
 'Euphausia spinifera furcilia',
 'Euphausia superba',
 'Euphausia superba C1',
 'Euphausia superba C2',
 'Euphausia superba C3',
 'Euphausia superba calyptopis',
 'Euphausia superba F1',
 'Euphausia superba F2',
 'Euphausia superba F3',
 'Euphausia superba F4',
 'Euphausia superba F5',
 'Euphausia superba F6',
 'Euphausia superba furcilia',
 'Euphausia triacantha',
 'Euphausia triacantha calyptopis',
 'Euphausia triacantha furcilia',
 'Euphausia vallentini',
 'Euphausia vallentini calyptopis',
 'Euphausia vallentini furcilia',
 'Euphausiidae calyptopis indet',
 'Euphausiidae furcilia indet',
 'Euphausiidae indet',
 'Euphausiidae metanauplius indet',
 'Euphausiidae nauplius indet',
 'Euterpina sp.',
 'Evadne sp.',
 'Farranula sp.',
 'Foraminifera indet',
 'Fritillaria sp.',
 'Gammaridea indet',
 'Gastropoda indet',
 'Globigerina bulloides',
 'Globigerinita uvula',
 'Globorotalia inflata',
 'Globorotalia sp.',
 'Haloptilus oxycephalus',
 'Harpacticoida indet',
 'Hemityphis sp.',
 'Heterorhabdus austrinus',
 'Heterorhabdus lobatus',
 'Heterorhabdus sp.',
 'Heterorhabdus spinifrons',
 'Hyperia sp.',
 'Hyperia spinigera',
 'Hyperiella antarctica',
 'Hyperiella dilatata',
 'Hyperiella sp.',
 'Hyperiidea indet',
 'Hyperoche medusarum',
 'Hyperoche sp.',
 'Iospilidae indet',
 'Isopoda indet',
 'Lensia sp.',
 'Limacina sp.',
 'Lopadorrhynchidae indet',
 'Lubbockia sp.',
 'Lucicutia flavicornis',
 'Lucicutia sp.',
 'Maupasia sp.',
 'Mecynocera clausi',
 'Mecynocera sp.',
 'Mesocalanus sp.',
 'Mesocalanus tenuicornis',
 'Metridia gerlachei',
 'Metridia lucens',
 'Metridia sp.',
 'Microcalanus pygmaeus',
 'Microsetella norvegica',
 'Microsetella rosea',
 'Microsetella sp.',
 'Munida gregaria',
 'Myctophidae indet',
 'Mysidae indet',
 'Nannocalanus minor',
 'Nauplius indet',
 'Nematocarcinus longirostris',
 'Nematoscelis megalops',
 'Neocalanus gracilis',
 'Neocalanus tonsus',
 'Neogloboquadrina incompta',
 'Neogloboquadrina pachyderma',
 'Noctiluca scintillans',
 'Nyctiphanes australis',
 'Nyctiphanes australis calyptopis',
 'Nyctiphanes australis furcilia',
 'Oculosetella gracilis',
 'Oikopleura sp.',
 'Oithona atlantica',
 'Oithona frigida',
 'Oithona longispina',
 'Oithona similis',
 'Oithona sp.',
 'Oncaea curvata',
 'Oncaea mediterranea',
 'Oncaea sp.',
 'Oncaea venusta typica',
 'Onchocalanus sp.',
 'Orcadia riedeli',
 'Ostracoda indet',
 'Paracalanus aculeatus',
 'Paracalanus indicus',
 'Paracalanus sp.',
 'Paraeuchaeta antarctica',
 'Paraeuchaeta barbata',
 'Paraeuchaeta biloba',
 'Paraeuchaeta exigua',
 'Paraeuchaeta sp.',
 'Paraheterorhabdus farrani',
 'Paralabidocera antarctica',
 'Pelagobia longicirrata',
 'Phalacrophorus pictus',
 'Phalacrophorus sp.',
 'Phronima sp.',
 'Pisces egg',
 'Pisces larvae',
 'Platysceloidea indet',
 'Pleuragramma antarctica',
 'Pleuromamma abdominalis',
 'Pleuromamma borealis',
 'Pleuromamma gracilis',
 'Pleuromamma piseki',
 'Pleuromamma robusta',
 'Pleuromamma sp.',
 'Pleuromamma xiphias',
 'Podon sp.',
 'Polychaeta indet',
 'Polychaeta larvae',
 'Primno macropa',
 'Protomyctophum sp.',
 'Pseudosagitta gazellae',
 'Pseudosagitta sp.',
 'Pteropoda indet',
 'Pyrosomatidae indet',
 'Radiozoa indet',
 'Rhincalanus gigas',
 'Rhincalanus gigas nauplius',
 'Rhincalanus nasutus',
 'Rhincalanus sp.',
 'Sagittidae indet',
 'Salpa fusiformis',
 'Salpa thompsoni',
 'Salpidae indet',
 'Sapphirina nigromaculata',
 'Sapphirina sp.',
 'Scaphocalanus echinatus',
 'Scaphocalanus farrani',
 'Scina sp.',
 'Scolecithricella minor',
 'Scolecithricella sp.',
 'Sergestidae indet',
 'Siphonophora nectophore',
 'Siphonophora sp.',
 'Soestia zonaria',
 'Solidosagitta marri',
 'Solmundella bitentaculata',
 'Spongiobranchaea australis',
 'Squilla sp.',
 'Stephos longipes',
 'Subeucalanus longiceps',
 'Subeucalanus sp.',
 'Sulcanus conflictus',
 'Temora turbinata',
 'Teuthida indet',
 'Thalia sp.',
 'Themisto australis',
 'Themisto gaudichaudii',
 'Themisto sp.',
 'Thysanoessa gregaria',
 'Thysanoessa gregaria calyptopis',
 'Thysanoessa gregaria furcilia',
 'Thysanoessa macrura',
 'Thysanoessa macrura C1',
 'Thysanoessa macrura C2',
 'Thysanoessa macrura C3',
 'Thysanoessa macrura calyptopis',
 'Thysanoessa macrura F1',
 'Thysanoessa macrura F2',
 'Thysanoessa macrura F3',
 'Thysanoessa macrura F4',
 'Thysanoessa macrura F5',
 'Thysanoessa macrura F6',
 'Thysanoessa macrura furcilia',
 'Thysanoessa macrura metanauplius',
 'Thysanoessa sp.',
 'Thysanoessa sp. furcilia',
 'Tintinnina indet',
 'Tomopteris carpenteri',
 'Tomopteris sp.',
 'Travisiopsis levinseni',
 'Travisiopsis sp.',
 'Triconia antarctica',
 'Turborotalita quinqueloba',
 'Typhloscolex muelleri',
 'Vanadis antarctica',
 'Vanadis longissima',
 'Vibilia antarctica',
 'Vibilia armata',
 'Vibilia sp.',
 'Total abundance',
 'Phytoplankton_Colour_Index',
 'Fluorescence',
 'Salinity',
 'Water_Temperature',
 'Photosynthetically_Active_Radiation']

In [11]:
df['Ship_Code'].unique()

array(['AA', 'KM', 'SH', 'HM', 'TA', 'PS', 'UM', 'YU', 'AF', 'SA', 'SH2',
       'IN'], dtype=object)